<div class="center hero-unit">
  <h1>Welcome to the Generic App</h1>
<h2>
    This is the home page for a generic app.
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %> </div>
